<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
		<link
			rel="shortcut icon"
			type="image/png"
			href="{{ site.baseurl }}/assets/images/favicon.png"
		/>
	</head>
	<body>
		{{ content }}
	</body>
</html>
